*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
li{
    list-style-type: none;
}
.theme-text-primary{
    color: #23DC00;
}
.custom-btn-primary{
    background-color: #23DC00;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
.features p{
    font-size: 13px;
}
.cust-input,textarea{
    border-bottom: 1px solid black !important;
    background-color: transparent;
    outline: none;
    border: 0;
    margin-bottom: 30px;
    border-radius: 0;
}
.social:hover{
    color: #23dc00 !important; 
}
a{
    text-decoration: none;
}


